<%- include("../header") -%>

<h1>Редактирование</h1>

<form action="<%= model.id %>" method="post">
  <div class="form-horizontal">

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="name">Имя</label>
  <div class="col-sm-7">
    <input class="form-control" name="name" value="<%= model.name %>" autofocus/>
  </div>
</div>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Сохранить" class="btn btn-default btn-success" />
        <a class="btn btn-outline-dark cancel" href="..">Отмена</a>
      </div>
    </div>
  </div>
</form>

<%- include("../footer") -%>
